<div class="flex-footer">
  <div class="first-row">
    <div class="left-footer">
      <div>
        <!-- <h4>LOGO</h4>
        <p>Webseite meines Kaffees in Rosenthal - Berlin</p> -->
      </div>
    </div>
    <div class="right-footer">
      <div>
        <h4>Unternehmen</h4>
        <a href="/impressum">Über Uns</a>
        <a href="/impressum">Kontakt</a>
      </div>
      <div>
        <h4>Funktionen</h4>
        <!-- <a href="/reservation">Tisch Reservierung</a> -->
        <a href="/eventbuchung">Event Buchung</a>
        <a href="/blog">Veranstaltungen</a>
      </div>
      <div>
        <h4>Kontakt</h4>
        <a href="mailto:info@zuraltenbackstube.de">info@zuraltenbackstube.de</a>
        <a href="tel:03047488482">030-47488482</a>
        <a
          href="https://www.google.com/maps/place/Zur+alten+Backstube/@52.6004418,13.3764557,17z/data=!3m2!4b1!5s0x47a8531ccd4a1725:0x31f9cbe5fbe9924a!4m6!3m5!1s0x47a8531ccd23989b:0x973e04aed2f2c372!8m2!3d52.6004386!4d13.3790306!16s%2Fg%2F1tltldh7?entry=ttu&g_ep=EgoyMDI1MDIxOS4xIKXMDSoASAFQAw%3D%3D"
          >Hauptstraße 155, 13158 Berlin</a
        >
      </div>
    </div>
  </div>
  <div class="second-row">
    <div class="flex-row">
      <div>
        <p>© Zur alten Backstube <%= new Date().getFullYear() %></p>
      </div>
      <div class="right-footer end-footer">
        <a href="/impressum">Impressum</a>
        <a href="/datenschutz">Datenschutz</a>
        <a href="/agb">AGB</a>
      </div>
    </div>
  </div>
</div>
<!-- Cookie Consent Banner -->
<div
  id="cookieConsentBanner"
  style="
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1em;
    z-index: 1000;
  "
>
  Diese Website verwendet Cookies und Google Tags, um die Benutzererfahrung zu
  verbessern. Stimmen Sie der Nutzung zu?
  <button id="acceptCookies" style="margin-left: 1em; padding: 0.5em 1em">
    Akzeptieren
  </button>
  <button id="declineCookies" style="margin-left: 1em; padding: 0.5em 1em">
    Ablehnen
  </button>
  <a href="/datenschutz">Erfahre mehr</a>
</div>

<script>
  // Check if the user has already made a choice
  document.addEventListener("DOMContentLoaded", function () {
    const cookieDecision = localStorage.getItem("allowCookies");

    if (cookieDecision === "true") {
      loadGoogleTags();
    } else if (cookieDecision === null) {
      document.getElementById("cookieConsentBanner").style.display = "block";
    }
  });

  // Handle user decision
  document
    .getElementById("acceptCookies")
    .addEventListener("click", function () {
      localStorage.setItem("allowCookies", "true");
      document.getElementById("cookieConsentBanner").style.display = "none";
      location.reload(); // 🔄 Reload the page after accepting cookies
    });

  document
    .getElementById("declineCookies")
    .addEventListener("click", function () {
      localStorage.setItem("allowCookies", "false");
      document.getElementById("cookieConsentBanner").style.display = "none";
    });

  // Load Google Tag Manager only if the user has accepted cookies
  function loadGoogleTags() {
    var script1 = document.createElement("script");
    script1.async = true;
    script1.src = "https://www.googletagmanager.com/gtag/js?id=G-7KCV3QVBP7";
    document.head.appendChild(script1);

    var script2 = document.createElement("script");
    script2.text =
      "window.dataLayer = window.dataLayer || [];\n" +
      "function gtag(){dataLayer.push(arguments);}\n" +
      "gtag('js', new Date());\n" +
      "gtag('config', 'G-7KCV3QVBP7');";
    document.head.appendChild(script2);

    var script3 = document.createElement("script");
    script3.text =
      "(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n" +
      "new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n" +
      "j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n" +
      "'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n" +
      "})(window,document,'script','dataLayer','GTM-TQWQWK8S');";
    document.head.appendChild(script3);
  }
</script>

<!-- Button to change cookie settings (place in footer) -->
<button
  onclick="resetCookieConsent()"
  style="position: fixed; bottom: 10px; right: 10px; padding: 0.5em 1em"
>
  Cookie-Einstellungen ändern
</button>
<script>
  function resetCookieConsent() {
    localStorage.removeItem("allowCookies");
    location.reload();
  }
</script>
<script src="/js/slideIn.js"></script>
<script src="/js/navToggle.js"></script>
