<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQWQWK8S"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<link
href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
rel="stylesheet"
/>
<div class="container">
  <div class="navigation" id="navigation">
    <div class="logo">
      <a href="/">Home</a>
    </div>
    <div class="nav-right">
      <img
        src="/images/Nav-Bar-Icon.svg"
        alt="Menu Icon"
        class="menu-icon"
        id="menu-icon"
      />
      <div class="links" id="nav-links">
        <% if(user.isAdmin){%>
        <!-- <a href="/allReservations">Alle Reservierungen</a> -->
        <a href="/newBlog">Neue Veranstaltung</a>
        <a href="/logout">Log-Out</a>
        <% } %>
        <a href="/geschichte">Geschichte</a>
        <a href="/blog">Aktuelles</a>
        <a href="/menu">Getränkekarte</a>
        <a href="/tischreservierung">Tischreservierung</a>
        <a href="/eventbuchung">Feier buchen</a>
        <!-- <a href="/reservation" class="reserve-button">Reservierung</a> -->
      </div>
    </div>
  </div>
</div>
