<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Impressum</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="section">
      <%- include('partials/header') %>
      <div class="container">
        <h2>Impressum</h2>
        <p class="p-b-100">
          Angaben gemäß § 5 Telemediengesetz (TMG): <br> 
          Betreiber und Kontakt: Bernd Ziekow <br>
          Hauptstraße 155, 13158 Berlin <br>
          Telefon: <a href="tel:+493047488482"></a> +493047488482 <br>
          E-Mail:<a href="mailto:info@zuraltenbackstube.de"></a> info@zuraltenbackstube.de
        </p>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
