<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Startseite</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body class="index-body">
    <div class="hero">
      <div class="nav-bar-hero"><%- include('partials/header') %></div>
      <div class="container">
        <div class="hero-content">
          <div><h1 class="hero-heading">Zur alten Backstube</h1></div>
          <div class="lower-hero">
            <p class="hero-text p-hero">Seit 1863</p>
            <h3 class="hero-text">Familie Ziekow in 5. Generation</h3>
            <a href="/reservation" class="reservation-button"
              >Tischreservierung</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="section overflow-hidden padding-tb-40">
      <div class="container">
        <div class="flex-space-between">
          <div class="main-content">
            <h3>Unsere Historie</h3>
            <p>
              Bereits Anfang des 20. Jahrhunderts wurde unser traditionsreiches
              Kaffeehaus ins Leben gerufen – ein Ort, der seit jeher
              Begegnungen, Inspiration und Genuss miteinander verbindet. In
              seinen ehrwürdigen Räumen, geschmückt mit antiken Möbeln und
              liebevoll restaurierten Details, spürt man den Hauch vergangener
              Zeiten. Generationen von Gästen haben hier ihre Geschichten
              geschrieben, und die ursprüngliche Leidenschaft der Gründer lebt
              in jedem Winkel fort.
            </p>
          </div>
          <div class="img-container right-image flex_einfliegen">
            <img
              src="/images/EingangmitSchrift.png"
              alt="Eingangsbereich heute"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="section overflow-hidden padding-tb-40">
      <div class="container">
        <div class="flex-space-between flex-reverse">
          <div class="img-container left-image flex_einfliegen">
            <img src="/images/2024-03-05.png" alt="Eingangsbereich heute" />
          </div>
          <div class="main-content">
            <h3>Tradition im Wandel</h3>
            <p>
              Im Laufe der Jahrzehnte hat sich unser Kaffeehaus dem Wandel der
              Zeit stets angepasst, ohne seinen authentischen Charakter zu
              verlieren. Moderne Einflüsse und behutsame Renovierungen haben
              dafür gesorgt, dass klassische Elemente – von der Einrichtung bis
              zu traditionellen Rezepten – erhalten bleiben. Diese gelungene
              Balance zwischen historischer Bewahrung und zeitgemäßem Flair
              macht unseren Ort zu einem einzigartigen Erlebnis, das
              Vergangenheit und Gegenwart harmonisch miteinander vereint.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section overflow-hidden padding-tb-40">
      <div class="container">
        <div class="flex-space-between">
          <div class="main-content">
            <h3>Aktuelles Angebot & Veranstaltungen</h3>
            <p>
              Heute laden wir Sie ein, in unserem liebevoll restaurierten
              Ambiente unvergessliche Momente zu genießen. Wir jeden Samstag und
              Sonntag von 13 bis 17 Uhr für Sie geöffnet – perfekt für einen
              entspannten Nachmittag mit Freunden oder der Familie. Darüber
              hinaus bieten wir unser charmantes Kaffeehaus auch als
              Veranstaltungsort an: Ob private Feiern, Firmen-Events oder
              kulturelle Zusammenkünfte, wir freuen uns darauf, Ihr Event in
              einem authentischen historischen Rahmen auszurichten.
            </p>
            <div class="contant-buttons">
              <a href="/eventbuchung" class="blog-button">Eventplaner</a>
            </div>
          </div>
          <div class="img-container last right-image flex_einfliegen">
            <img src="/images/2024-07-22.png" alt="Eingangsbereich heute" />
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
