<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Blocksdorf, webseitendesignberlin@gmail.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Zur alten Backstube Berlin - Das traditionelle Kaffeehaus in Rosenthal
    </title>
    <meta
      name="description"
      content="Willkommen in der alten Backstube Rosenthal – Genieße traditionelle Rezepte in gemütlicher Atmosphäre. Tischreservierung - Eventplanungen - Getränkekarte"
    />
    <meta
      name="keywords"
      content="Cafe, Kaffee Rosenthal, Alte Backstube, Cafe near"
    />
    <meta property="og:site_name" content="Zur alten Backstube" />
    <meta property="og:url" content="https://www.zuraltenbackstube.de" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link rel="canonical" href="https://www.zuraltenbackstube.de">
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="preload"
      as="image"
      href="/images/landingimage.WEBP"
      type="image/webp"
    />
  </head>
  <body class="index-body">
    <div class="hero">
      <div class="nav-bar-hero"><%- include('partials/header') %></div>
      <div class="container">
        <div class="hero-content">
          <div><h1 class="hero-heading">Zur alten Backstube</h1></div>
          <div class="lower-hero">
            <p class="hero-text p-hero">Seit 1863</p>
            <h2 class="hero-text">Familie Ziekow in 5. Generation</h2>
            <!-- <a href="/reservation" class="reservation-button"
              >Tischreservierung</a
            > -->
          </div>
        </div>
      </div>
    </div>
    <div class="section overflow-hidden padding-tb-40">
      <div class="container">
        <div class="flex-space-between">
          <div class="main-content">
            <h3>Unsere Historie</h3>
            <p>
              Bereits 1863 wurde unsere alte Backstube in Rosenthal ins Leben
              gerufen – ein Ort, der seit jeher Begegnungen, Inspiration und
              Genuss miteinander verbindet. In seinen ehrwürdigen Räumen,
              geschmückt mit antiken Möbeln und liebevoll restaurierten Details,
              spürt man den Hauch vergangener Zeiten. <br />
              Gemeinsam mit meinem Vater betreiben wir nun in 5. Generation
              Ziekow die alte Backstube und bieten jeden Samstag und Sonntag
              frischen Kuchen mit einer großen Auswahl an
              <a href="/menu">Getränken</a> an.
            </p>
          </div>
          <div class="img-container right-image flex_einfliegen">
            <img
              src="/images/EingangmitSchrift.webp"
              alt="Eingangsbereich heute"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="section overflow-hidden padding-tb-40">
      <div class="container">
        <div class="flex-space-between flex-reverse-main">
          <div class="img-container left-image flex_einfliegen">
            <img src="/images/2024-03-05.webp" alt="Esstisch für 2 Personen" />
          </div>
          <div class="main-content">
            <h3>Was erwartet dich bei uns</h3>
            <p>
              Auf unsere Webseite findest du die
              <a href="/menu">Getränkekarte</a>, die
              <a href="/geschichte">Geschichte</a> der alten Backstube und alle
              Informationen zu anstehenden und vergangenen Veranstaltungen bei
              uns. Hier verpasst du nichts mehr! <br />
              Falls neue Veranstaltungen anstehen, kannst du
              <a href="/blog">hier</a> auf dem laufenden bleiben. <br />
              <!-- Möchtest du einen Tisch reservieren? <br>
              Bei uns kannst du ganz leicht für 2-Wochen im Vorraus einen Tisch deiner Wahl reservieren.
              Neue Termine werden jeden Samstag um 08:00 Uhr freigeschaltet.  -->
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section overflow-hidden padding-tb-40">
      <div class="container">
        <div class="flex-space-between">
          <div class="main-content">
            <h3>Aktuelles Angebot & Veranstaltungen</h3>
            <p>
              Wir laden dich ein, in unserem liebevoll restaurierten Ambiente
              gemeisam einen schönen Nachmittag zu verbrigen. Jeden Samstag und
              Sonntag haben wir von 13 bis 17 Uhr für dich geöffnet – perfekt
              für einen entspannten Nachmittag mit Freunden oder der Familie.
              Darüber hinaus bieten wir unser charmantes Kaffeehaus auch als
              Veranstaltungsort an: Ob private Feiern, Firmen-Events oder
              kulturelle Zusammenkünfte, wir freuen uns darauf, Ihr Event in
              einem authentischen historischen Rahmen auszurichten.
            </p>
            <div class="contant-buttons">
              <a href="/eventbuchung" class="blog-button"
                >Planen deine Feier bei uns!</a
              >
            </div>
          </div>
          <div class="img-container last right-image flex_einfliegen">
            <img src="/images/2024-07-22.webp" alt="Esstisch für 3 Personen" />
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
