<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-In</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="Log-In">
      <h1>Log-In</h1>
      <form action="/logIn" method="POST">
        <label for="username">E-Mail:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Log-In</button>
      </form>
    </div>
    <div class="Register">
      <h1>Noch nicht registriert?</h1>
      <a href="/register">Registriere dich hier!</a>
    <script src="/js/slide.js"></script>
    <script src="/js/navToggle.js"></script>
  </body>
</html>
